@import "tailwindcss";

@font-face {
    font-family: 'MyFont';
    src: url('./assets/fonts/windows-xp-tahoma.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArialNarrow';
    src: url('./assets/fonts/ArialNarrowMTStd.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

body {
    font-family: 'MyFont', sans-serif;
}